*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background-color: #222831;
  color: #eeeeee;
}

label {
  display: none;
}

.contact {
  padding: 9rem 3.5rem;
}

.contact__box--first {
  text-align: center;
}

.contact__paragraph {
  margin: 2.5em 0 6em 0;
}

.contact__box-paragraph {
  padding: 2.5rem 7rem;
  border-radius: 1.2rem;
  background: #0092ca;
  text-align: center;
  -webkit-box-shadow: 0.8rem 0.8rem rgba(0, 146, 202, 0.1);
          box-shadow: 0.8rem 0.8rem rgba(0, 146, 202, 0.1);
  margin-bottom: 2.5rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.contact__box-paragraph:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.contact__box-paragraph span {
  font-weight: bold;
}

.contact__form {
  padding: 2rem 2rem 3rem 2rem;
  border-radius: 1.2rem;
  -webkit-box-shadow: 0.8rem 0.8rem rgba(57, 62, 70, 0.2);
          box-shadow: 0.8rem 0.8rem rgba(57, 62, 70, 0.2);
  background: #393e46;
}

.contact__form-box {
  position: relative;
  padding: 1rem 0;
}

.contact__form-box--input {
  width: 100%;
  padding: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  background: #222831;
  color: #eeeeee;
  border: 0.2rem solid rgba(0, 146, 202, 0.1);
}

.contact__form-box--input:focus {
  outline: none;
  border: 0.2rem solid #0092ca;
}

.contact__form-icon-error {
  position: absolute;
  top: 2.6rem;
  right: 1rem;
  color: #f85134;
  display: none;
}

.contact__form-text-error {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1rem;
  text-align: right;
  color: #f85134;
  display: none;
}

.contact__form-box.error .contact__form-icon-error,
.contact__form-box.error .contact__form-text-error {
  display: block;
}

.contact__form-btn {
  width: 100%;
  padding: 2rem 4rem;
  background: #45bf55;
  border-radius: 1rem;
  font-size: 1.6rem;
  cursor: pointer;
  color: #eeeeee;
  text-transform: uppercase;
  border: none;
  margin: 1rem 0;
}

.contact__form-agreement {
  font-size: 0.8rem;
  text-align: center;
}

.contact__form-agreement--link {
  font-weight: bold;
  color: tomato;
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 768px) {
  .contact {
    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__box {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 3rem;
  }
  .contact__box--first {
    text-align: left;
  }
  .contact__heading {
    font-size: 4rem;
  }
  .contact__box-paragraph {
    padding: 2rem 5rem;
  }
}
/*# sourceMappingURL=main.css.map */