@import "./colors";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: $bgbody;
  color: $white;
}

label,
.contact__form-icon-error,
.contact__form-text-error {
  display: none;
}

.contact {
  padding: 9rem 3.5rem;

  &__box {
    &--first {
      text-align: center;
    }
  }

  &__paragraph {
    margin: 2.5em 0 6em 0;
  }

  &__box-paragraph {
    padding: 2.5rem 7rem;
    border-radius: 1.2rem;
    background: $primary;
    text-align: center;
    box-shadow: 0.8rem 0.8rem rgba($color: $primary, $alpha: 0.1);
    margin-bottom: 2.5rem;
    transition: transform 0.3s;

    &:hover {
      transform: scale(0.9);
    }

    span {
      font-weight: bold;
    }
  }

  &__form {
    padding: 2rem 2rem 3rem 2rem;
    border-radius: 1.2rem;
    box-shadow: 0.8rem 0.8rem rgba($color: $bgform, $alpha: 0.2);
    background: $bgform;

    &-box {
      &--input {
        width: 100%;
        padding: 2rem;
        border-radius: 0.5rem;
        margin-bottom: 1.5rem;
        font-weight: 700;
        background: $bgbody;
        color: $white;
        border: 0.2rem solid $inputcolor;

        &:focus {
          outline: none;
          border: 0.2rem solid $primary;
        }
      }
    }
    &-btn {
      width: 100%;
      padding: 2rem 4rem;
      background: $btngreen;
      border-radius: 1rem;
      font-size: 1.6rem;
      cursor: pointer;
      color: $white;
      text-transform: uppercase;
      border: none;
      margin-bottom: 1rem;
    }

    &-agreement {
      font-size: 0.8rem;
      text-align: center;

      &--link {
        font-weight: bold;
        color: $agreement;
        text-decoration: none;
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 900px) {
  .contact {
    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 0 8rem;
    // width: 100%;

    // flex-wrap: wrap;

    &__box {
      flex: 1;
      padding: 0 3rem;

      &--first {
        text-align: left;
      }
    }

    &__heading {
      font-size: 4rem;
    }

    &__box-paragraph {
      padding: 2rem 5rem;
    }
  }
}
